In [1]:
n = int(input())

2

In [2]:
dictt = {}
for i in range(n):
    x = input().split()
    dictt[x[0]] = list(map(float,x[1:]))
dictt

Harsh 25 26.5 28
Anurag 26 28 30

{'Harsh': [25.0, 26.5, 28.0], 'Anurag': [26.0, 28.0, 30.0]}

In [3]:
query_name = input()

Harsh

In [4]:
if query_name in dictt.keys():
    print(sum(dictt[query_name])/len(dictt[query_name]))
    print('%.2f'%(sum(dictt[query_name])/len(dictt[query_name])))
else:
    print("student data in not present.")

26.5
26.50

In [6]:
student_marks = {}
for _ in range(n):
    name, *line = input().split()
    scores = list(map(float, line))
    student_marks[name] = scores

Harsh 25 26.5 28
Anurag 26 28 30